@model IEnumerable<MovieStoreNew.Models.Movie>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (!Model.Any())
{
    <p>No movies found.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    Movies
                </th>
                <th>
                    Genre
                </th>
            </tr>
        </thead>

        @foreach (var movie in Model)
        {
            <tbody>
                <tr>
                    <td>
                        @Html.ActionLink(movie.Name, "Edit", new { id = movie.Id })
                    </td>
                    <td>
                        @movie.Genre.Name
                    </td>
                </tr>
            </tbody>
        }
    </table>
}