@using MovieStoreNew.Models
@model MovieStoreNew.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h1>@(((Movie)ViewData["movie"]).Name)</h1>
    <h2>@(((Movie)ViewBag.Movie ).Name)</h2>*@
<h2>@Model.Movie.Name</h2>

<ul>
    @foreach (var customer in Model.Customers)
    {
        <li>@customer.Name</li>
    }
</ul>